<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- appId,entryId,appKey-->
    <add key="apiKey" value="9dRi7lb4qdu3zZeFjXWEMDUaHj7YyxEV"/>
    <add key="appId_employee" value="637de1ccb51962000aa01d54"/>
    <add key="entryId_employee" value="638013e908d2f8000a84d3f0"/>
    <add key="appId_leave" value="637de1ccb51962000aa01d54"/>
    <add key="entryId_leave" value="637ddfd18b29a700085f423a"/>
    <add key="appId_project" value="639bd881abaca800084798a3"/>
    <add key="entryId_project" value="63a5670360a6cd000ac21b4e"/>
    <add key="appId_projectTest" value="639bd881abaca800084798a3"/>
    <add key="entryId_projectTest" value="63a5671d59b8dd000a2536e5"/>
    <add key="appId_projectChange" value="639bd881abaca800084798a3"/>
    <add key="entryId_projectChange" value="63a5671816f763000a551b86"/>

    <add key="DB.ConnectionString" value="data source=localhost;initial catalog=AttendanceForRD;persist security info=True;user id=sa;password=123456;packet size=8192;connection timeout=60;"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
