<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- appId,entryId,apiKey-->
    <add key="apiKey" value="jjSrylnl1g1qivbxk9oF4VTYCMXL2qNt" />
    <add key="appId_huayaofh" value="63d62b8c8312f40008b77cc2" />
    <add key="entryId_huayaofh" value="63c796ef04517d000aac3d12" />
    <add key="entryId_huayaoInvoiced" value="652dec9c7d793f38495d1fb1" />
    <add key="entryId_huayaofh_sjs" value="642a3d7c4bab020008b669e8" />
    <add key="DB.ConnectionString" value="ZGF0YSBzb3VyY2U9MTIwLjc3LjIyMC4xNzU7aW5pdGlhbCBjYXRhbG9nPU1ha2VUK1ZvdWNoZXI7cGVyc2lzdCBzZWN1cml0eSBpbmZvPVRydWU7dXNlciBpZD1qaWFuZGFveXVuO3Bhc3N3b3JkPWhueDIwMjIuO3BhY2tldCBzaXplPTgxOTI7Y29ubmVjdGlvbiB0aW1lb3V0PTYwOw==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>